<div class="body">
  <div id="root">

    <div class="calculator">
      <h2 style="color: aliceblue;">Calculator</h2>
      <div class="formulaScreen"> 
        {{ subText }}
      </div>
      <div class="outputScreen" id="display">
        {{ mainText }}
      </div>
  
     <button class="jumbo" 
     style="background:'#BF3952';" (click)="allClear()">
        AC
      </button>
      <button id="divide" value="/" style="background:'grey';" (click)="pressKey('/')">
        /
      </button>
      <button id="multiply" value="x" style="background:'grey';" (click)="pressKey('x')">
        x
      </button>
      
      <button id="seven" value="7" (click)="pressKey('7')">
        7
      </button>
      <button id="eight" value="8" (click)="pressKey('8')">
        8
      </button>
      <button id="nine" value="9" (click)="pressKey('9')">
        9
      </button>
      <button id="subtract" value="-" style="background:'grey';" (click)="pressKey('-')">
        -
      </button>
      <button id="four" value="4" (click)="pressKey('4')">
        4
      </button>
      <button id="five" value="5" (click)="pressKey('5')">
        5
      </button>
      <button id="six" value="6" (click)="pressKey('6')">
        6
      </button>
      <button id="add" value="+" style="background:'grey';" (click)="pressKey('+')">
        +
      </button>
      <button id="one" value="1" (click)="pressKey('1')">
        1
      </button>
      <button id="two" value="2" (click)="pressKey('2')">
        2
      </button>
      <button id="three" value="3" (click)="pressKey('3')">
        3
      </button>
      <button class="jumbo" id="zero" value="0" (click)="pressKey('0')">
        0
      </button>
      <button id="decimal" value="." (click)="pressKey('.')">
        .
      </button>
    
      <button id="equals" value="="
      style="background: '#0378A6';
      position: 'absolute';
      height: 140px;
      bottom: 5px;" (click)="getAnswer()">
        =
      </button>
    
    </div>
  </div>
</div>